html, body {
    font-family: Arial, Helvetica, sans-serif;
}
html, body, div, p, span, a, nav, main, section, aside, header, footer, article,
h1, h2, h3, h4, h5, h6, ul, ol, li, textarea, button, input, textarea, select, img,
label, form, code, table, thead, tbody, tr, th, td, sub, sup {
    padding: 0;
    margin: 0;
}
ul, ol {
    list-style-type: none;
}
input, button, textarea {
    border: none;
    outline: none;
}
input[type="text"] {
    padding-block: 0;
    padding-inline: 0;
}
a {
    text-decoration: none;
}
a:-webkit-any-link {
   color: #333; 
}
.hide {
    display: none !important;
}